# ==========================
# Dependencies
# ==========================
node_modules/
**/node_modules/

# ==========================
# Environment Variables
# ==========================
.env
**/.env

# ==========================
# Google Service Account Key
# ==========================
server/config/google-key.json


# Uploads
server/uploads/*
!server/uploads/.gitkeep

# ==========================
# Build Files
# ==========================
dist/
build/
client/dist/
server/dist/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Cache
# ==========================
.cache/